a{
    color: #fff !important;
}header{

background-color: black;
}.dropdown-item{
    color:  black !important;
}
.container{
   justify-content: center;
   margin-left: 5%;
}.card{
    margin: 10px;
}